.App {
	
}


.App-header {
	display: flex;
	border-bottom-style: solid;
	border-color: red;
	border-width: 3px;
}
.App-logo {
	height: 100px;
}


.App-header h1 {
	color: red;
	align-self: center;
}	
